<!DOCTYPE html>
<html lang="en">
    <head>
        
        <%- include('../partials/head'); %>
        
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <%- include('../partials/jumbotron'); %>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">

                <p>This is a study project to including node.js, express.js, ejs templates, partials and fething data from API</p>
                <p>From this web app you can find real time prices of few chosen commodites and currencies</p>
            </div>
            <div class="col-sm-2"></div>
          </div> 
          
          <%- include('../partials/footer'); %>
        
        
    </body>
</html>